<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
			<add name="DbConnection" connectionString="Data Source=MY-THINKPAD;Initial Catalog=AL_Sheikh_Database;Integrated Security=True;Trust Server Certificate=True" providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>